section.box{
    width: 1200px;
    margin: 0 auto;
}
table.table td{
    vertical-align: middle;
}
table.table td input{
    margin-bottom: 0;
}
.validate-show-block{
    width: 500px;
}
ul{
    float: left;
}
ul li{
    list-style-type: none;
    border-bottom: 1px solid #dddddd;
}
ul .control-group{
    margin-bottom: 0!important;
    padding: 10px 0px 10px 0px;
}
ul .control-group .control-label{
    width: 100px;
}
.validate-footer{
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 50px;
}

.validate-show-inline{
    width: 650px;
}